:root {
	--darkgray: transparent;
}

select {
	flex: 1;
	font-family: 'Dancing Script', serif;
	font-weight: bold;
	appearance: none;
	outline: 0;
	box-shadow: none;
	padding: 0 1em;
	color: rgb(5, 0, 0);
	background-color: var(--darkgray);
	border: 2px rgb(0, 0, 0) solid;
	cursor: pointer;
	transition: 0.6s all ease;
}
/* Remove IE arrow */
select::-ms-expand {
	display: none;
}
/* Custom Select wrapper */
.select {
	display: flex;
	position: relative;
	width: 12em;
	height: 3em;
	border-radius: 0.25em;
	overflow: hidden;
}
/* Arrow */
.select::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.7em 1em;
	background-color: transparent;
	border: 2px rgb(0, 0, 0) solid;
	pointer-events: none;
	transition: 0.6s all ease;
}
/* Transition */
.select:hover::after {
	color: #00eeff;
}

select:hover {
	color: #00eeff;
}

.global-select {
	display: flex;
	justify-content: flex-end;
	margin: -50px 125px 50px 0px;
}
